@charset "UTF-8"

clear::after {
content: "";
display: block;
clear: both;
}

clearfix {
display: block;
}

body {
width: 400px;
height: 450px;
}

.red {
width: 400px;
height: 100px;
background-color: #ff0000;
}

.green {
width: 150px;
height: 250px;
background-color: #00ff1e;
float: left;
}

.blue {
width: 250px;
height: 250px;
background-color: #3300ff;
float: left;
}

.yellow {
width: 400px;
height: 100px;
background-color: #ffe600;
clear: both;
}